/* Header Theming */
.ai {
  color: #46d9ff;
}

.news {
  color: #f4f113;
}

.code {
  color: #8720fc;
}

.lifestyle {
  color: #f067fc;
}

.db {
  color: #fcae5f;
}

.cybersec {
  color: #fc5f62;
}

.software {
  color: #20dbfc;
}

.general {
  color: #8720fc;
}

.code {
  color: #8720fc;
}

.yt {
  color: #f60000;
}

.book {
  color: #a6e3a1;
}
