html {
  background-attachment: fixed;
  background-image: url("https://giffiles.alphacoders.com/215/215595.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

body {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.section-selector {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: scroll;
  justify-content: flex-start;
  padding: 0 10px;
  position: fixed;
  top: calc(60px + 5vh);
  z-index: 3000;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  left: 0;
  position: absolute;
  top: calc(100px + 5vh);
  width: max-content;
  z-index: 2000;
}

button {
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  justify-content: center;
  margin-bottom: 10px;
  overflow-x: auto;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-shadow: 0 0 5px white;
  transition-duration: 0.4s;
  width: auto;
  z-index: 2000;
}

button:hover {
  background-color: #f067fc;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.active {
  background-color: rgba(240, 103, 252, 0.5);
  text-shadow: 0 0 20px #f067fc;
}

.header {
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 20px;
  box-sizing: border-box;
  color: white;
  display: flex;
  height: 80px;
  justify-content: space-between;
  left: 0;
  margin: 0;
  padding: 0 15px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.header span {
  align-items: center;
  display: flex;
}

.icon {
  border-radius: 20px;
  height: 60px;
}

h1.homepage-title {
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  color: white;
  flex-grow: 1;
  font-size: auto;
  font-weight: bold;
  height: 60%;
  left: 25%;
  right: 25%;
  justify-content: center;
  padding: 8px;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 20px white;
  width: 50%;
}

.emoji-button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 32px;
  margin-top: 0px;
  padding: 0;
  width: auto;
  z-index: 1;
}

.emoji-link {
  display: inline-block;
  position: relative;
}

.emoji-link:hover .emoji-button {
  opacity: 0.8;
}

.header a {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 32px;
  text-shadow: 0 0 20px white;
  z-index: 1000;
}

.emoji-link {
  position: absolute;
  right: 20px;
  text-decoration: none;
}

.emoji-link:hover .emoji-button {
  opacity: 0.8;
}

h1 {
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
}

h2 {
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  box-sizing: border-box;
  display: none;
  font-size: 32px;
  font-weight: bold;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
  position: fixed;
  top: 10%;
  transform: translateX(-50%);
  width: 30%;
}

h3 {
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
}

.content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: calc(100vh - 50px);
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 10px;
  position: fixed;
  top: calc(60px + 5vh);
  width: auto;
  z-index: 5;
}

.columns-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(75% - 40px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 0;
  position: fixed;
  top: calc(125px + 5vh);
  width: 100%;
  z-index: 5;
}

.column {
  align-content: center;
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 1200px;
  padding: 15px;
  width: 80%;
  z-index: 5;
}

.card {
  align-items: center;
  background-color: rgba(44, 42, 52, 0.8);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  max-width: 100%;
  padding: 12px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  z-index: 5;
}

.card img {
  margin-right: 15px;
  vertical-align: middle;
  width: 40px;
  z-index: 5;
}

.card:hover {
  transform: translateY(-5px);
  z-index: 5;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  font-size: 16px;
  margin: 0;
  text-align: left;
}

.column h3 {
  margin-bottom: 10px;
  z-index: 5;
}

.footer {
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  bottom: 0;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 3000;
}

.footer span {
  color: white;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer a {
  color: #7c5cff;
  margin: 0 10px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Header Theming */
.ai {
  color: #46d9ff;
  text-shadow: 0 0 5px #46d9ff;
}

.news {
  color: #f4f113;
  text-shadow: 0 0 5px #f4f113;
}

.vet {
  color: #02f789;
  text-shadow: 0 0 5px #02f789;
}

.code {
  color: #8720fc;
  text-shadow: 0 0 5px #8720fc;
}

.lifestyle {
  color: #f067fc;
  text-shadow: 0 0 5px #f067fc;
}

.db {
  color: #fcae5f;
  text-shadow: 0 0 5px #fcae5f;
}

.privacy {
  color: #fc5f62;
  text-shadow: 0 0 5px #fc5f62;
}

@media screen and (max-width: 480px) {
  .section-selector {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: scroll;
    justify-content: flex-start;
    padding: 0 10px;
    width: 50%;
    position: fixed;
    top: calc(60px + 5vh);
    z-index: 3000;
  }
  .footer {
    font-size: 10px;
  }
  .footer span {
    font-size: 10px;
  }
}
