html {
  background-attachment: fixed;
  background-image: url("https://giffiles.alphacoders.com/215/215595.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

body {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  text-shadow: 0 0 5px white;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #f067fc;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.active {
  background-color: rgba(240, 103, 252, 0.5);
  text-shadow: 0 0 20px #f067fc;
}

.header {
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 0;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.icon {
  height: 80px;
  left: 20px;
  border-radius: 20px;
}

h1.homepage-title {
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  color: white;
  flex-grow: 1;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  max-width: 50%;
  padding: 10px;
  position: relative;
  text-align: center;
  text-shadow: 0 0 20px white;
}

.emoji-button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 36px;
  text-shadow: 0 0 20px white;
  z-index: 1;
}

.emoji-button:hover {
  opacity: 0.8;
}

.emoji-link {
  position: absolute;
  right: 20px;
  text-decoration: none;
}

.emoji-link:hover .emoji-button {
  opacity: 0.8;
}

h1 {
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-size: 32px;
  font-weight: bold;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  text-shadow: 0 0 5px white;
  width: 100%;
}

/* Header Theming */

.ai {
  color: #46d9ff;
  text-shadow: 0 0 5px #46d9ff;
}

.news {
  color: #f4f113;
  text-shadow: 0 0 5px #f4f113;
}

.vet {
  color: #02f789;
  text-shadow: 0 0 5px #02f789;
}

.code {
  color: #8720fc;
  text-shadow: 0 0 5px #8720fc;
}

.lifestyle {
  color: #f067fc;
  text-shadow: 0 0 5px #f067fc;
}

.db {
  color: #fcae5f;
  text-shadow: 0 0 5px #fcae5f;
}

.privacy {
  color: #fc5f62;
  text-shadow: 0 0 5px #fc5f62;
}

.columns-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: hidden;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.column {
  flex: 0 0 auto;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.card {
  align-items: center;
  background-color: rgba(44, 42, 52, 0.8);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 15px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.card img {
  margin-right: 15px;
  vertical-align: middle;
  width: 40px;
}

.card:hover {
  transform: translateY(-5px);
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  font-size: 16px;
  margin: 0;
  text-align: left;
}

.column h1 {
  margin-bottom: 15px;
}

.footer {
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  bottom: 0;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  left: 0;
  padding: 12px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer span {
  color: white;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer a {
  color: #7c5cff;
  margin: 0 10px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  /* Ensure the header title is properly sized */
  h1.homepage-title {
    font-size: 24px;
    max-width: 100%;
    text-align: center;
  }

  h1 {
    flex-direction: column;
    font-size: 16px;
    width: 100%;
  }

  .columns-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
    max-width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    padding: 0 10px;
    width: 100%;
  }

  .column {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  .icon {
    height: 40px;
    left: 20px;
  }

  .emoji-button {
    height: 40px;
    right: 20px;
    font-size: 24px;
  }

  .footer {
    font-size: 10px;
    white-space: nowrap;
  }

  .footer span {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
  }
}
