html {
  background-image: url("https://giffiles.alphacoders.com/215/215595.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  border-radius: 20px;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  position: relative;
  padding: 0 20px;
  border: 2px solid #7c5cff;
  box-sizing: border-box;
}

.icon {
  position: absolute;
  left: 20px;
  height: 80px;
}

h1.homepage-title {
  color: white;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  position: relative;
  z-index: 1;
  text-shadow: 0 0 20px white;
  flex-grow: 1;
  max-width: 50%;
}

.emoji-button {
  background: transparent;
  border: none;
  font-size: 36px;
  cursor: pointer;
  color: white;
  z-index: 1;
  text-shadow: 0 0 20px white;
}

.emoji-button:hover {
  opacity: 0.8;
}

.emoji-link {
  position: absolute;
  right: 20px;
  text-decoration: none;
}

.emoji-link:hover .emoji-button {
  opacity: 0.8;
}

h1 {
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  text-shadow: 0 0 5px white;
}

/* Header Theming */

.ai {
  color: #46d9ff;
  text-shadow: 0 0 5px #46d9ff;
}

.news {
  color: #f4f113;
  text-shadow: 0 0 5px #f4f113;
}

.vet {
  color: #02f789;
  text-shadow: 0 0 5px #02f789;
}

.code {
  color: #8720fc;
  text-shadow: 0 0 5px #8720fc;
}

.lifestyle {
  color: #f067fc;
  text-shadow: 0 0 5px #f067fc;
}

.db {
  color: #fcae5f;
  text-shadow: 0 0 5px #fcae5f;
}

.privacy {
  color: #fc5f62;
  text-shadow: 0 0 5px #fc5f62;
}

.columns-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px;
}

.column {
  flex: 0 0 auto;
  padding: 15px;
  text-align: center;
  margin: 10px;
}

.card {
  background-color: rgba(44, 42, 52, 0.8);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.card img {
  vertical-align: middle;
  margin-right: 15px;
  width: 40px;
}

.card:hover {
  transform: translateY(-5px);
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  text-align: left;
  font-size: 16px;
  margin: 0;
}

.column h1 {
  margin-bottom: 15px;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 12px;
  background-color: rgba(19, 14, 28, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer span {
  color: white;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer a {
  color: #7c5cff;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  h1.homepage-title {
    font-size: 24px;
    text-align: center;
    max-width: auto;
  }

  h1 {
    font-size: 16px;
  }

  p {
    font-size: 10px;
  }

  .icon {
    position: absolute;
    left: 20px;
    height: 40px;
  }

  .columns-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }

  .emoji-button {
    font-size: 24px;
  }

  .card img {
    max-width: auto;
  }

  .footer {
    font-size: 10px;
    white-space: nowrap;
  }

  .footer span {
    font-size: 10px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
