html {
  background-attachment: fixed;
  background-image: url("./assets/links-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  align-items: center;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 20px;
  margin: 0;
}

.sidebar {
  background-color: #110d19;
  border: 2px solid #7c5cff;
  border-radius: 20px;
  bottom: 10px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
  flex-grow: 1;
  height: 100%;
  max-height: calc(80vh - 5px);
  overflow-x: scroll;
  padding: 20px;
  position: fixed;
  right: 0;
  text-align: center;
  top: calc(30px + 5vh);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  width: 25%;
  z-index: 3000;
}

.sidebar.actived {
  transform: translateX(0);
}

.sidebar h4 {
  margin-bottom: 10px;
  text-align: left;
  color: rgba(177, 177, 177, 1);
  font-size: 0.75em;
  font-weight: bold;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
}

.sidebar a {
  margin: 10px;
  text-align: left;
  font-size: 0.8em;
  display: flex;
}

.sidebar button {
  background-color: transparent;
  border: 0px solid #7c5cff;
  border-radius: 0px;
  color: white;
  font-size: 0.8em;
  margin-bottom: 0px;
  max-width: 100%;
  min-width: max-content;
  margin: 10px;
  overflow-x: hidden;
  padding: 0px 0;
  position: relative;
  justify-content: flex-start;
  display: flex;
  text-align: left;
  transition-duration: 0s;
  white-space: nowrap;
  width: auto;
  z-index: 1000;
}

.sidebar button:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

main {
  position: fixed;
  display: contents;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  height: 30px;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 0px;
  max-width: 100%;
  min-width: 38px;
  padding: 0px;
  padding-top: 0px;
  position: fixed;
  right: 15px;
  top: 12px;
  overflow: hidden;
  transition-duration: 0.5s;
  z-index: 9999;
}

.toggle-btn:hover {
  background-color: #7c5cff;
}

.sidebar-content {
  display: none;
}

.section-selector {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  overflow-x: scroll;
  padding: 0 10px;
  position: fixed;
  top: calc(35px + 5vh);
  width: 100%;
  z-index: 1000;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  left: 0;
  position: absolute;
  top: calc(100px + 5vh);
  width: max-content;
  z-index: 1000;
}

button {
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
  max-width: 100%;
  min-width: max-content;
  overflow-x: hidden;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  transition-duration: 0.4s;
  white-space: nowrap;
  width: auto;
  z-index: 1000;
}

button:hover {
  background-color: #7c5cff;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.active {
  background-color: rgba(74, 11, 79, 0.5);
}

.header {
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  box-sizing: border-box;
  color: white;
  display: flex;
  height: 55px;
  justify-content: space-between;
  left: 0;
  margin: 0;
  padding: 0 15px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header span {
  align-items: center;
  display: flex;
}

.icon {
  border-radius: 20px;
  height: 30px;
}

h1.homepage-title {
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  border: 0px solid #7c5cff;
  border-radius: 10px;
  color: white;
  flex-grow: 1;
  font-size: 26px;
  font-weight: bold;
  height: 80%;
  justify-content: flex-start;
  padding: 8px;
  position: absolute;
  text-align: center;
  width: 30%;
}

.header a {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 28px;
  margin: 10px;
  z-index: 2000;
}

h1 {
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
}

h2 {
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  box-sizing: border-box;
  display: none;
  font-size: 26px;
  font-weight: bold;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
  position: fixed;
  top: 10%;
  transform: translateX(-50%);
  width: 30%;
}

h3 {
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
  text-wrap: nowrap;
}

.content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: calc(120vh - 50px);
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 10px;
  position: fixed;
  width: auto;
}

.columns-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(80% - 35px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 0;
  position: fixed;
  top: calc(95px + 5vh);
  width: 100%;
}

.column {
  align-content: center;
  align-items: center;
  background-color: rgba(19, 14, 28, 0.5);
  border-radius: 20px;
  display: flex;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  max-width: 1200px;
  padding: 10px;
  width: 80%;
}

.card {
  align-items: center;
  background-color: rgba(44, 42, 52, 0.8);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  justify-content: flex-start;
  max-width: 100%;
  padding: 12px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.card img {
  margin-right: 15px;
  vertical-align: middle;
  width: 25px;
}

.card:hover {
  transform: translateY(-5px);
}

a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

p {
  font-size: 15px;
  margin: 0;
  text-align: left;
}

.footer {
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  bottom: 0;
  color: white;
  display: flex;
  height: 16px;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 3000;
}

.footer span {
  color: white;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer a {
  color: #7c5cff;
  margin: 0 10px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Mobile */
@media screen and (max-width: 460px) {
  html {
    height: 100%;
    min-width: 100vw;
    width: 100%;
  }

  body {
    color: white;
    display: flex;
    font-size: 20px;
    padding: 0;
    width: 100%;
  }

  .section-selector {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 0 10px;
    position: fixed;
    top: calc(30px + 5vh);
    width: 100%;
    z-index: 2000;
  }
  .footer {
    font-size: 10px;
  }
  .footer span {
    font-size: 10px;
  }
  .sidebar {
    border: 0px solid #7c5cff;
    border-radius: 0px;
    top: calc(30px + 5vh);
    transition: transform 0s ease-in-out;
    width: 90%;
    z-index: 3000;
  }
  .columns-container {
    height: calc(80% - 25px);
    top: calc(85px + 5vh);
  }

  .toggle-btn {
    font-size: 26px;
    height: 35px;
    min-width: 35px;
    top: 10px;
  }

  h3 {
    text-wrap: wrap;
  }
}
