html {
  background-attachment: fixed;
  background-image: url("https://i.pinimg.com/originals/44/58/d9/4458d949654591422a4f8f47fa15c39e.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

body {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sidebar {
  background-color: #110d19;
  border: 2px solid #7c5cff;
  border-radius: 20px;
  bottom: 10px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
  color: white;
  flex-grow: 1;
  height: calc(80% - 20px);
  padding: 20px;
  position: fixed;
  right: 0;
  overflow-x: scroll;
  text-align: center;
  top: calc(40px + 5vh);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  width: 25%;
  z-index: 3000;
}

.sidebar.actived {
  transform: translateX(0);
}

.sidebar h4 {
  margin-bottom: 10px;
  text-align: left;
  color: rgba(177, 177, 177, 1);
  box-sizing: border-box;
  font-size: 0.75em;
  font-weight: bold;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
}

.sidebar a {
  margin: 10px;
  text-align: left;
  font-size: 0.8em;
  display: flex;
}

.sidebar button {
  background-color: transparent;
  border: 0px solid #7c5cff;
  border-radius: 0px;
  color: white;
  font-size: 0.8em;
  margin-bottom: 0px;
  max-width: 100%;
  min-width: max-content;
  margin: 10px;
  overflow-x: hidden;
  padding: 0px 0;
  position: relative;
  justify-content: flex-start;
  display: flex;
  text-align: left;
  transition-duration: 0s;
  white-space: nowrap;
  width: auto;
  z-index: 1000;
}

.sidebar button:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

main {
  position: fixed;
  right: 100%;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 26px;
  height: 35px;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 0px;
  max-width: 100%;
  min-width: 35px;
  padding: 0px;
  padding-top: 0px;
  position: fixed;
  right: 15px;
  top: 10px;
  transition-duration: 0.5s;
  z-index: 9999;
}

.toggle-btn:hover {
  background-color: #7c5cff;
}

.sidebar-content {
  display: none;
}

.section-selector {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: flex-start;
  overflow-x: scroll;
  padding: 0 10px;
  position: fixed;
  top: calc(35px + 5vh);
  width: 100%;
  z-index: 1000;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  left: 0;
  position: absolute;
  top: calc(100px + 5vh);
  width: max-content;
  z-index: 1000;
}

button {
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
  max-width: 100%;
  min-width: max-content;
  overflow-x: hidden;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  transition-duration: 0.4s;
  white-space: nowrap;
  width: auto;
  z-index: 1000;
}

button:hover {
  background-color: #7c5cff;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.active {
  background-color: rgba(74, 11, 79, 0.5);
}

.header {
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  box-sizing: border-box;
  color: white;
  display: flex;
  height: 60px;
  justify-content: space-between;
  left: 0;
  margin: 0;
  padding: 0 15px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header span {
  align-items: center;
  display: flex;
}

.icon {
  border-radius: 20px;
  height: 30px;
}

h1.homepage-title {
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  border: 0px solid #7c5cff;
  border-radius: 10px;
  color: white;
  flex-grow: 1;
  font-size: 28px;
  font-weight: bold;
  height: 80%;
  justify-content: flex-start;
  padding: 8px;
  position: absolute;
  text-align: center;
  width: 30%;
}

.header a {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 28px;
  margin: 10px;
  z-index: 2000;
}

h1 {
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
}

h2 {
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  box-sizing: border-box;
  display: none;
  font-size: 26px;
  font-weight: bold;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
  position: fixed;
  top: 10%;
  transform: translateX(-50%);
  width: 30%;
}

h3 {
  background-color: rgba(19, 14, 28, 0.9);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
}

.content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: calc(120vh - 50px);
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 10px;
  position: fixed;
  width: auto;
}

.columns-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(80% - 35px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 0;
  position: fixed;
  top: calc(95px + 5vh);
  width: 100%;
}

.column {
  align-content: center;
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  border-radius: 10px;
  display: flex;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  max-width: 1200px;
  padding: 10px;
  width: 80%;
}

.card {
  align-items: center;
  background-color: rgba(44, 42, 52, 0.8);
  border: 2px solid #7c5cff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  justify-content: flex-start;
  max-width: 100%;
  padding: 12px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.card img {
  margin-right: 15px;
  vertical-align: middle;
  width: 25px;
}

.card:hover {
  transform: translateY(-5px);
}

a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

p {
  font-size: 15px;
  margin: 0;
  text-align: left;
}

.footer {
  align-items: center;
  background-color: rgba(19, 14, 28, 0.9);
  bottom: 0;
  color: white;
  display: flex;
  height: 16px;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 3000;
}

.footer span {
  color: white;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer a {
  color: #7c5cff;
  margin: 0 10px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Header Theming */
.ai {
  color: #46d9ff;
}

.news {
  color: #f4f113;
}

.vet {
  color: #02f789;
}

.code {
  color: #8720fc;
}

.lifestyle {
  color: #f067fc;
}

.db {
  color: #fcae5f;
}

.cybersec {
  color: #fc5f62;
}

.software {
  color: #20dbfc;
}

.general {
  color: #8720fc;
}

.go {
  color: #67d6e4;
}

.js {
  color: #fdd83f;
}

.bash {
  color: #2ada2b;
}

.code {
  color: #8720fc;
}

.rust {
  color: #fcae5f;
}

.html {
  color: #f84923;
}

.css {
  color: #214cdc;
}

.yt {
  color: #f60000;
}

.py {
  color: #244c6e;
}

.ts {
  color: #0176c6;
}

.sql {
  color: #0077d2;
}

.java {
  color: #e02319;
}

.book {
  color: #a6e3a1;
}

@media screen and (max-width: 480px) {
  .section-selector {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 0 10px;
    position: fixed;
    top: calc(50px + 5vh);
    width: 80%;
    z-index: 3000;
  }
  .footer {
    font-size: 10px;
  }
  .footer span {
    font-size: 10px;
  }
  .sidebar {
    width: 100%;
  }
}
